<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='formStyles.css')}}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <title>Page Title</title>
  </head>
  <body>
    <header class="bg-opacity-50 text-white py-4 nav">
      <div class="container inline">
        <h3>Fit-Finity</h3>

        <ul class="nav-links">
          <li><p>Name: {{name}}</p></li>
          <li><p>Age: {{age}}</p></li>
          <li><p>Gender: {{gender}}</p></li>
          <li><p>Height: {{height}}</p></li>
          <li><p>Weight: {{weight}}</p></li>
          <li><p>BMI: {{bmi}}</p></li>
        </ul>
      </div>
    </header>
    <div class="input-box">
      <h2>Details</h2>
      <form action="{{url_for('exercise')}}" method="post">
        <div class="user-box">
          <input type="number" name="stress_level" id="stress_level" required="" />
          <label>Stress Level (On a scale of 0-5)</label>
        </div>

        <div class="user-box">
          <input type="number" name="activity_level" id="activity_level" required="" />
          <label>Activity Lifestyle (On a scale of 0-10)</label>
        </div>

        <div class="user-box">
          <label for="Issue">Choose Health Issue:</label>
          <br /><br />
          <select id="medical_complication" name="medical_complication" >
            <option value="Skin Problems">Skin Problems</option>
            <option value="Anxiety">Anxiety</option>
            <option value="Asthma">Asthma</option>
            <option value="Back Pain">Back Pain</option>
            <option value="Digestion">Digestion</option>
            <option value="Eyes Related">Eyes Related</option>
            <option value="Blood Pressure (HyperTension)">Blood Pressure (HyperTension)</option>
            <option value="Cardiovascular">Cardiovascular</option>
            <option value="Diabetes">Diabetes</option>
            <option value="Headache (Migraine)">Headache (Migraine)</option>
            <option value="Stress">Stress</option>
            <option value="Muscles (Strain , Pull , Soreness)">Muscles (Strain , Pull , Soreness)</option>
            <option value="Overweight , obesity">Overweight , obesity</option>
            <option value="Immunity">Immunity</option>
            <option value="Cough , Cold">Cough , Cold</option>
            <option value="Cholestrol">Cholestrol</option>
            <option value="Knee Pain">Knee Pain</option>
            <option value="Arthritis or any sort of pain">Arthritis or any sort of pain</option>
            <option value="Underweight , muscle gain">Underweight , muscle gain</option>
            <option value="Hair Problems">Hair Problems</option>
          </select>
          <input class="drop" type="submit"  value="confirm" name="medical_complication" />
        </div>
        <!-- value="Confirm" -->
        <!-- <button class="btn-contact">Submit</button> -->


        <!-- <a href="./get">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Get Your Results
        </a> -->
      </form>
    </div>
  </body>
</html>
