<!DOCTYPE html>
<html>
<head>
    <title>FIT-FINITY</title>
    <link rel="stylesheet" href="Landingpage.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body> 
     <nav>
       <div class="FIT-FINITY">FIT-FINITY</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
          <i class="fas fa-bars"></i>
        </label>
        <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="form1.html">Get Started</a></li>
          <li><a href="#">Analysis</a></li>
          <li><a href="Aboutus.html">About Us</a></li>
          <li><a href="Contactus.html">Contact Us</a></li>
        </ul>
     </nav>
     <div class="content">
       <div>Quote or about fitfinity</div>
     </div>

    

</body>
</html>

